p{
	background:  #000080;
	color: 	#F8F8FF;
	font-size: 30px;
	border-style: solid;
	border-width: 5px;
	border-color:#FF8C00;
	padding: 50px 50px 50px 50px;
	margin:100px 100px 100px 100px; 
}